// Article

.article {
  &__title {
    margin-top: 0;

    @media (min-width: $screen-m-min) {
      font-size: 2rem;
    }
  }

  &__image {
    margin-bottom: 2rem;
  }

  h2 {
    color: $text-color;
  }

  a {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__meta {
    margin-top: $space-l;
    margin-bottom: $space-m;

    p {
      font-size: .875rem !important;
      font-weight: $font-weight-bold;
    }

    &__tools {
      text-align: right;

      a + a {
        margin-left: 2em;
      }
    }
  }
}