// Article preview

.article-preview {
  display: flex;
  margin-bottom: 2rem;

  @media (min-width: $screen-m-min) {
    align-items: center;
  }

  &__image {
    width: 36%;
    padding-right: .75rem;

    @media (min-width: $screen-s-min) {
      padding-right: 1.25rem;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__body {
    width: 64%;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: .5rem;

    @media (max-width: $screen-xs-max) {
      font-size: 1rem;
    }
  }

  &__lead {
    @media (max-width: $screen-xs-max) {
      position: relative;
      max-height: 5.5em;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 25%;
        background: linear-gradient(to bottom, rgba(#fff, 0) 0%, #fff 100%);
        pointer-events: none;
      }
    }
  }
}