// Banners

.banner {
  overflow: hidden;

  a {
    display: block !important;
  }

  img,
  canvas {
    position: static !important;
    width: 100% !important;
    height: auto !important;
    display: block !important;
  }

  &--d {
    height: 170px;
  }

  &--f {
    position: absolute;
    top: 0;
    //min-width: 120px;
    //max-width: 160px;
    //height: 600px;

    @media (max-width: $screen-side-banners-hidden) {
      display: none;
    }

    img {
      width: auto !important;
      max-width: 160px;

      @media (max-width: $screen-l-max) {
        width: 120px !important;
      }
    }

    &-left {
      right: 100%;
    }

    &-right {
      left: 100%;
    }
  }
}

.top-banners {
  margin: auto;
  padding-top: 10px;

  @media (min-width: $screen-m-min) {
    padding-top: 20px;
  }

  .banner {
    margin-bottom: 10px;

    @media (min-width: $screen-m-min) {
      margin-bottom: 20px;
    }

    &--a {
      width: 100%;
      height: 0;
      padding-bottom: 90/990 * 100%;
    }

    &--b {
      width: 100%;
      height: 0;
      padding-bottom: 60/468 * 100%;
    }
  }
}