// Brand

.brand {
  height: $main-nav-height;
  display: inline-block;
  padding-top: 7px;
  margin-right: .75rem;
  margin-bottom: 0;
  white-space: nowrap;

  &__logo {
    @include square(25px);
    display: inline-block;
    vertical-align: -.5em;
  }

  &__label {}

  &__main {
    display: block;
    text-decoration: none !important;

    &:hover,
    &:focus {
      .brand {
        &__label {
          text-decoration: underline;
        }
      }
    }
  }
}