// Buttons

.btn {
  position: relative;
  height: $btn-height;
  display: inline-block;
  padding: 0 2rem;
  font-size: .8125rem;
  font-weight: $font-weight-bold;
  line-height: $btn-height;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: $brand-primary-light;
  border: none;
  border-radius: 0;
  transition: all .3s ease-out;
  transition-property: color, background-color;
  @include ellipsis();

  &:hover,
  &:focus {
    background-color: $brand-primary;
  }

  &:disabled,
  &--disabled {
    background-color: rgba(#000, .3);
    cursor: default;
    pointer-events: none;
  }

  &--block {
    width: 100%;
    display: block;
  }
}

