// Calendar

.cal {
  a {
    text-decoration: none !important;
  }

  &__row {
    height: 2.5rem;
    display: flex;
    font-size: $font-size-s;
    text-align: center;
    line-height: 2.5rem;

    > * {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  &__head {
    background-color: $gray-light;
  }

  &__prev,
  &__next {
    flex: 0 0 2.5rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: $theme-green-light;
  }

  &__year {}

  &__day-labels {}

  &__day-label {
    background-color: $gray-lighter;

    &:nth-child(even) {
      background-color: darken($gray-lighter, 5%);
    }
  }

  &__days {
    height: auto;
    flex-flow: row wrap;
  }

  &__day {
    position: relative;
    flex: 0 0 calc(100% / 7);
    height: 3.125rem;
    font-size: $font-size-l;
    line-height: 3.125rem;
    color: rgba(#fff, .5);
    background-color: $theme-green-dark;

    &:nth-child(even) {
      background-color: lighten($theme-green-dark, 5%);
    }

    &__index {
      position: absolute;
      right: 0;
      top: 0;
      padding: .25em .375em;
      font-size: $font-size-xs;
      line-height: 1;
      color: #fff;
    }

    &--dummy {
      visibility: hidden;
    }

    &--empty {
      background-color: darken($gray-lighter, 5%) !important;
    }

    &--active {
      &:hover,
      &:focus {
        color: #fff;
      }
    }

    &--today {
      background-color: $theme-orange;
    }
  }
}