// Card

.card {
  padding: $space-m;
  background-color: #fff;

  &__image {

  }

  &__body {}

  &__title {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    color: $text-color;
  }

  &__description {
    margin-bottom: 0;
    font-size: $font-size-s;
  }

  &--logo {
    .card {
      &__image {
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}