// Footer

.footer {
  font-size: $font-size-s;
  color: #fff;
  background-color: $gray;

  > .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}