// Header

.header {
  position: relative;

  @media (min-width: $header-nav-breakpoint) {
    min-height: $header-height;

    .container {
      padding-right: 160px;
    }
  }

  &__tools-list {
    @include list-unstyled();
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: .875rem;

    li {
      a::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        height: .8em;
        border-right: 1px solid $gray;
        transform: translateY(-50%);
      }

      &:first-child {
        a::after {
          content: none;
        }
      }

      @media (min-width: $header-nav-breakpoint) {
        &:last-child {
          a::after {
            content: none;
          }
        }
      }
    }

    a,
    button {
      position: relative;
      display: block;
      padding: .5em 1em;
      color: $gray;
    }
  }

  &__search {
    position: relative;
    float: right;
    width: 100%;
    height: 35px;

    @media (min-width: $screen-s-min) {
      width: 260px;
    }

    form {
      display: inline-block;
    }

    input[type="text"] {
      position: absolute;
      top: 0;
      right: 6px;
      width: 0;
      height: 23px;
      margin-top: 6px;
      padding: 6px 0;
      background-color: $gray-light;
      border: none;
      transition: all .3s;
      opacity: 0;

      &::-ms-clear {
        display: none;
      }

      &::placeholder {
        color: $gray;
        transition: all .3s;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 2px;
      @include square(35px);
      padding: 0;
      background: transparent;
      border: 0;
      cursor: pointer;
    }

    & form:hover,
    &.header__search--focused {
      input[type="text"] {
        width: calc(100% - 12px);
        padding: 6px 4px;
        opacity: 1;
      }
      button {
        background-position: 0 -26px;
      }
    }

  }

  &__subscription {
    @media (min-width: $header-nav-breakpoint) {
      position: absolute;
      right: 20px;
      bottom: 0;
      width: 140px;
      max-height: 165px;
      padding: 1px;
      background-color: $gray-light;
      overflow: hidden;

      @media (min-width: 1250px) {
        right: calc(((100vw - (100vw - 100%)) - 1240px) / 2 + 20px);
      }

      &-link {
        position: static !important;
        width: 100%;
        height: 195px;
        background: url(../img/tt-cover.jpg) 0 0/cover no-repeat;
      }

      &-label {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: .125em .25em;
        font-weight: $font-weight-bold;
        color: #fff;
        background-color: $gray;
      }
    }
  }

  &__main-nav {
    line-height: 1.3;
    color: #fff;
    background-color: #000;

    > .container {
      position: relative;
      min-height: $main-nav-height;
      overflow: hidden;

      @media (min-width: $header-nav-breakpoint) {
        display: flex;
      }
    }
  }

  &__section-nav {
    display: none;
    line-height: 1.3;
    color: #fff;
    background-color: $gray;

    @media (min-width: $header-nav-vertical-breakpoint) {
      display: block;

      > .container {
        display: flex;
      }
    }

    .section-logo {
      align-self: center;
      margin-bottom: 0;
      padding-top: .75rem;

      @media (min-width: $header-nav-vertical-breakpoint) {
        margin-right: 1.25rem;
        padding-top: 0;

        + .section-nav {
          .section-nav__menu {
            > li:first-child {
              border-left: 1px solid rgba(#fff, .5);

              a {
                padding-left: .75rem;
              }
            }
          }
        }
      }
    }
  }
}

.nav {
  .header__section-nav {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;

    .container {
      padding: 10px;
    }
  }
}