// Job list

.job-list {
  @include list-unstyled();

  &__title {
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: $font-size-base;
  }

  &__description {
    margin-bottom: 0;
  }

  li + li {
    margin-top: 1.25rem;
  }
}