// Navbar

.nav {
  &-toggle {
    @include square($main-nav-height);
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: 0;
    color: #fff;

    @media (min-width: $screen-m-min) {
      right: 20px;
    }

    @media (min-width: $header-nav-vertical-breakpoint) {
      display: none;
    }

    .icon {
      font-size: $font-size-l;
    }
  }

  &__menu {
    @include list-unstyled();
    display: none;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;

    @media (min-width: $header-nav-vertical-breakpoint) {
      min-height: $main-nav-height;
      display: flex !important;
      margin-top: 0;
      margin-bottom: 0;
    }

    > li {
      display: flex;

      @media (min-width: $header-nav-vertical-breakpoint) {
        align-items: stretch;
      }

      @media (min-width: $header-nav-breakpoint) {
        border-left: 1px solid #fff;
      }

      a {
        width: 100%;
        padding: .625rem .75rem;
      }
    }
  }
}

.nav-open {
  .nav__menu,
  .header__section-nav {
    display: block;
  }
}