// Pagination

.pagination {
  margin-top: $space-m;
  margin-bottom: $space-m;

  &__pages {

  }

  &__item {
    position: relative;
    min-width: 2rem;
    margin-bottom: .3em;
    padding: 0 .2rem;
    display: inline-block;
    text-align: center;
    line-height: calc(2rem - 2px);
    border: 1px solid $gray-lighter;

    &--active {
      border-color: $brand-primary-light;
    }

    &--ellipsis {
      border: none;
    }
  }

  &__prev,
  &__next {
    text-indent: -9999px;
    border: none;

    &:before {
      @include square(40%);
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      border: 1px solid $brand-primary-light;
      border-width: 1px 0 0 1px;
      transform: translate(-20%, -50%) rotate(-45deg);
    }

    &:hover {
      &:before {
        border-color: $brand-primary;
      }
    }
  }

  &__next {
    &:before {
      transform: translate(-80%,-50%) rotate(135deg);
    }
  }
}