// Promo

.promo {
  display: flex;
  align-items: center;
  padding: $space-m $space-s;

  &__image {
    align-self: flex-start;
    width: 36%;
    padding-right: 1rem;
  }

  &__body {
    width: 64%;
  }

  &__title {
    margin-top: 0;
  }

  &__text {}

  &--yellow {
    color: #000;
    background-color: $theme-yellow;
  }
}