// Section nav

.section-nav {
  flex-grow: 1;

  &__menu {
    @include list-unstyled();
    font-size: $font-size-s;

    @media (min-width: $header-nav-vertical-breakpoint) {
        min-height: $section-nav-height;
        display: flex;
        margin-top: 1rem;
        margin-bottom: 0;
    }

    @media (min-width: $header-nav-breakpoint) {
      margin-top: 2rem;
    }

    > li {
      @media (min-width: $header-nav-vertical-breakpoint) {
        max-width: 140px;
        display: flex;
        flex-basis: 0;
        flex-shrink: 1;
        flex-grow: 1;
        align-items: stretch;
        border-left: 1px solid rgba(#fff, .5);

        &:first-child {
          border-left: 0;
        }
      }

      &.active {
        @media (min-width: $header-nav-vertical-breakpoint) {
          margin-top: -1rem;
          padding-top: 1rem;
          border-right: 1px solid rgba(#fff, .5);

          + li {
            border-left: 0;
          }
        }

        @media (min-width: $header-nav-breakpoint) {
          margin-top: -2rem;
          padding-top: 2rem;
        }
      }

      a {
        display: block;
        padding: .625rem .75rem;

        @media (min-width: $header-nav-vertical-breakpoint) {
          flex-grow: 1;
          padding: 0 .75rem .625rem;
        }
      }
    }
  }
}