// Side boxes

.side-box {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid $gray-darker;
}

// Article box
.article-box {
  &__image {
    text-align: center;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    margin-top: .75rem;
    margin-bottom: .5rem;
    font-size: 1rem;

    @media (min-width: $screen-s-min) {
      font-size: $font-size-l;
    }
  }

  &__lead {
    margin-bottom: 0;
  }
}

// Cover label box
.cover-label-box {
  &__container {
    position: relative;
  }

  &__cover {
    border: 1px solid $gray-lighter;
  }

  &__label {
    position: absolute;
    left: 0;
    bottom: 2rem;
    padding: .25em .6em;
    font-size: $font-size-l;
    font-weight: $font-weight-demi;
    color: #fff;
    background-color: $gray;
  }
}

// Social networks
.social-box {
  &__icons {
    @include list-unstyled();

    > li {
      display: inline-block;
      margin-right: .75rem;
    }

    .icon {
      font-size: 2.5rem;
    }
  }
}

// Company list box
.company-list-box {
  &__header {
    padding: .625rem;
    color: #fff;
    background-color: $brand-primary;
  }

  &__title {
    margin-top: 0;
    margin-bottom: .625rem;
    font-size: $font-size-l;
    color: #fff;
  }

  &__letter-list {
    @include list-unstyled();
    display: flex;
    flex-flow: row wrap;
    padding-top: .625rem;
    font-weight: $font-weight-bold;
    border-top: 1px solid #fff;

    a {
      display: block;
      padding: .125rem .375rem;
    }
  }

  &__body {
    padding: .625rem;
    background-color: $gray-light;

    .card {
      &:not(:last-child) {
        margin-bottom: .625rem;
      }
    }
  }
}

// Color box
.color-box {
  padding: $space-m;
  border-bottom: 0;

  &--brand-primary {
    color: #fff;
    background-color: $brand-primary;
  }

  &--gray-light {
    background-color: $gray-light;
  }

  * {
    color: currentColor;
  }
}

// Partners box
.partners-box {
  &__logos {
    @include list-unstyled();
    text-align: center;

    > li {
      padding: 1.25rem;
    }
  }
}