// Slides

.slides {
  height: 0;
  opacity: 0;
  transition: $transition-speed-fast opacity;

  &.slick-initialized {
    height: auto;
    opacity: 1;
  }

  &.slick-slider.slick-dotted {
    margin-bottom: 50px;
  }
}

.slide {
  position: relative;

  &__link {
    text-decoration: none !important;

    &:hover,
    &:focus {
      .slide__title {
        text-decoration: underline;
      }
    }
  }

  &__overlay {
    margin-top: .75rem;

    @media (min-width: $screen-m-min) {
      position: absolute;
      top: 1.25rem;
      left: 0;
      right: 35%;
      margin-top: 0;
      padding: 1.25rem;
      background-color: rgba(#fff, .85);
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: .25em;
  }

  &__lead {
    margin-bottom: 0;
  }

  &__action {
    margin-top: .625rem;
    margin-bottom: 0;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }
}

// Slick override
.slick {
  &-dots {
    bottom: -36px;

    li {
      margin: 0;

      button:before {
        content: '';
        top: calc(50% - 6px);
        left: calc(50% - 6px);
        @include square(12px);
        border: 2px solid $gray;
        border-radius: 50%;
        opacity: .5;
      }

      &.slick-active {
        button:before {
          background-color: $gray;
        }
      }
    }
  }
}