// Table

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table,
.article table {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: $line-height-heading;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    border-collapse: collapse;
  }

  th {
    text-align: left;
    font-weight: $font-weight-demi;
    color: #fff;
    background-color: $brand-primary;
  }

  td {
    border-bottom: 1px solid $brand-primary;
  }
}