// Color themes

.theme {
  // Light blue
  &-blue-light {
    .theme-color {
      color: $theme-blue-light;
    }

    .theme-bg-color {
      color: #fff;
      background-color: $theme-blue-light;
    }

    .nav__menu {
      .active {
        background-color: $theme-blue-light;
      }
    }

    .header {
      &__section-nav {
        color: #fff;
        background-color: $theme-blue-light;

        .active {
          background-color: darken($theme-blue-light, 5%);
        }
      }

      &__subscription {
        &-label {
          @media (min-width: $header-nav-breakpoint) {
            background-color: $theme-blue-light;
          }
        }
      }
    }

    .footer {
      background-color: $theme-blue-light;
    }

    .cover-label-box__label {
      background-color: $theme-blue-light;
    }
  }

  // Dark blue
  &-blue-dark {
    .theme-color {
      color: $theme-blue-dark;
    }

    .theme-bg-color {
      color: #fff;
      background-color: $theme-blue-dark;
    }

    .nav__menu {
      .active {
        background-color: $theme-blue-dark;
      }
    }

    .header {
      &__section-nav {
        color: #fff;
        background-color: $theme-blue-dark;

        .active {
          background-color: darken($theme-blue-dark, 5%);
        }
      }

      &__subscription {
        &-label {
          @media (min-width: $header-nav-breakpoint) {
            background-color: $theme-blue-dark;
          }
        }
      }
    }

    .footer {
      background-color: $theme-blue-dark;
    }

    .cover-label-box__label {
      background-color: $theme-blue-dark;
    }
  }

  // Steel blue dark
  &-steel-blue-dark {
    .theme-color {
      color: $theme-steel-blue-dark;
    }

    .theme-bg-color {
      color: #fff;
      background-color: $theme-steel-blue-dark;
    }

    .nav__menu {
      .active {
        background-color: $theme-steel-blue-dark;
      }
    }

    .header {
      &__section-nav {
        color: #fff;
        background-color: $theme-steel-blue-dark;

        .active {
          background-color: darken($theme-steel-blue-dark, 5%);
        }
      }

      &__subscription {
        &-label {
          @media (min-width: $header-nav-breakpoint) {
            background-color: $theme-steel-blue-dark;
          }
        }
      }
    }

    .footer {
      background-color: $theme-steel-blue-dark;
    }

    .cover-label-box__label {
      background-color: $theme-steel-blue-dark;
    }
  }

  // Steel blue light
  &-steel-blue-light {
    .theme-color {
      color: $theme-steel-blue-light;
    }

    .theme-bg-color {
      color: #fff;
      background-color: $theme-steel-blue-light;
    }

    .nav__menu {
      .active {
        background-color: $theme-steel-blue-light;
      }
    }

    .header {
      &__section-nav {
        color: #fff;
        background-color: $theme-steel-blue-light;

        .active {
          background-color: darken($theme-steel-blue-light, 5%);
        }
      }

      &__subscription {
        &-label {
          @media (min-width: $header-nav-breakpoint) {
            background-color: $theme-steel-blue-light;
          }
        }
      }
    }

    .footer {
      background-color: $theme-steel-blue-light;
    }

    .cover-label-box__label {
      background-color: $theme-steel-blue-light;
    }
  }

  // Green light
  &-green-light {
    .theme-color {
      color: $theme-green-light;
    }

    .theme-bg-color {
      color: #fff;
      background-color: $theme-green-light;
    }

    .nav__menu {
      .active {
        background-color: $theme-green-light;
      }
    }

    .header {
      &__section-nav {
        color: #fff;
        background-color: $theme-green-light;

        .active {
          background-color: $theme-green-dark;
        }
      }

      &__subscription {
        &-label {
          @media (min-width: $header-nav-breakpoint) {
            background-color: $theme-green-light;
          }
        }
      }
    }

    .footer {
      background-color: $theme-green-light;
    }

    .cover-label-box__label {
      background-color: $theme-green-light;
    }
  }

  // Yellow
  &-yellow {
    .theme-color {
      color: $theme-yellow;
    }

    .theme-bg-color {
      background-color: $theme-yellow;
    }

    .nav__menu {
      .active {
        color: $text-color;
        background-color: $theme-yellow;
      }
    }

    .header {
      &__section-nav {
        color: $text-color;
        background-color: $theme-yellow;

        .section-logo + .section-nav .section-nav__menu > li:first-child,
        li {
          border-left-color: rgba(#000, .5);
        }

        .active {
          background-color: darken($theme-yellow, 5%);
          border-right-color: rgba(#000, .5);
        }
      }

      &__subscription {
        &-label {
          @media (min-width: $header-nav-breakpoint) {
            background-color: $theme-blue-dark;
          }
        }
      }
    }

    .footer {
      background-color: $theme-blue-dark;
    }

    .cover-label-box__label {
      background-color: $theme-blue-dark;
    }
  }

  // Dark red
  &-red-dark {
    .theme-color {
      color: $theme-red-dark;
    }

    .theme-bg-color {
      color: #fff;
      background-color: $theme-red-dark;
    }

    .nav__menu {
      .active {
        background-color: $theme-red-dark;
      }
    }

    .header {
      &__section-nav {
        color: #fff;
        background-color: $theme-red-dark;

        .active {
          background-color: darken($theme-red-dark, 5%);
        }
      }

      &__subscription {
        &-label {
          @media (min-width: $header-nav-breakpoint) {
            background-color: $theme-red-dark;
          }
        }
      }
    }

    .footer {
      background-color: $theme-red-dark;
    }

    .cover-label-box__label {
      background-color: $theme-red-dark;
    }
  }
}