// Topics

.topics {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;

  > * {
    width: 100%;
    padding: 0 15px 20px;

    @media (min-width: $screen-s-min) {
      width: calc(100% / 3);
    }
  }
}

.topic {
  position: relative;

  @media (min-width: $screen-s-min) {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      border-right: 1px solid rgba($gray-darker, .5);
    }
  }

  @media (min-width: $screen-m-min) {
    &:nth-child(3n) {
      &::after {
        content: none;
      }
    }
  }

  &__title {
    padding-bottom: .25em;
    font-size: $font-size-base;
    line-height: $line-height-heading;
    border-bottom: 3px solid currentColor;
  }

  &__body {
    display: flex;
    align-items: flex-start;

    @media (min-width: $screen-s-min) {
      flex-direction: column;
    }
  }

  &__image {
    width: 36%;
    height: auto;
    display: block;
    padding-right: .75rem;

    @media (min-width: $screen-s-min) {
      width: 100%;
      margin-bottom: .75rem;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    @media (min-width: $screen-m-min) {
      width: 100%;
    }
  }

  &__article-title {
    width: 64%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;

    @media (min-width: $screen-m-min) {
      width: 100%;
      min-height: 4em;
      font-size: $font-size-l;
    }
  }

  &--orange {
    .topic {
      &__title {
        color: $theme-orange;
      }
    }
  }

  &--red {
    .topic {
      &__title {
        color: $theme-red;
      }
    }
  }

  &--red-dark {
    .topic {
      &__title {
        color: $theme-red-dark;
      }
    }
  }

  &--blue-light {
    .topic {
      &__title {
        color: $theme-blue-light;
      }
    }
  }

  &--blue-dark {
    .topic {
      &__title {
        color: $theme-blue-dark;
      }
    }
  }

  &--green-light {
    .topic {
      &__title {
        color: $theme-green-light;
      }
    }
  }

  &--green-dark {
    .topic {
      &__title {
        color: $theme-green-dark;
      }
    }
  }

  &--aquamarine {
    .topic {
      &__title {
        color: $theme-aquamarine;
      }
    }
  }

  &--gray {
    .topic {
      &__title {
        color: $theme-gray;
      }
    }
  }
}