// Video

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 9 / 16 * 100%; // 16:9

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  &--4x3 {
    padding-bottom: 3 / 4 * 100%; // 4:3
  }
}

