// Forms

$label-color: $brand-primary;
$input-border-color: $gray-lighter;
$input-focus-border-color: $brand-primary-light;
$input-error-color: $red;
$input-error-border-color: $red;

input,
select,
textarea,
button {
  font-family: inherit;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.form-group {
  margin-bottom: 20px;

  &__label {
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    font-size: $font-size-s;
    line-height: 24px;
    color: $label-color;
  }

  &__control {
    width: 100%;
    height: 2.3125rem;
    margin-bottom: 10px;
    padding: 7px 10px 6px;
    font-size: $font-size-base;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid $input-border-color;
    transition: border-color .45s ease-in-out;

    &:focus {
      border-color: $input-focus-border-color;
    }
  }

  &__checkbox,
  &__radio {
    position: absolute;
    left: -9999px;

    + .form-group__label {
      margin-bottom: 0;
      padding-left: 32px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        @include square(20px);
        border: 1px solid $input-border-color;
        background: url(../img/form-check.svg) 50% 50% no-repeat;
        background-size: 0;
        transition: background-size .2s ease-in-out, border-color .45s ease-in-out;
      }
    }

    &:focus,
    &:active {
      + .form-group__label {
        &:before {
          border-color: $input-focus-border-color;
        }
      }
    }

    &:checked {
      + .form-group__label {
        &:before {
          background-size: 20px;
        }
      }
    }
  }

  &__radio {
    + .form-group__label {
      padding-left: 32px;

      &:before {
        background: url(../img/form-radio-dot.svg) 50% 50% no-repeat;
        background-size: 0;
        border-radius: 50%;
      }
    }

    &:checked {
      + .form-group__label {
        &:before {
          background-size: 18px;
        }
      }
    }
  }

  &--required {
    .form-group {
      &__label {
        font-weight: $font-weight-demi;

        &:after {
          content: ' *';
        }
      }
    }
  }

  &--error {
    .form-group {
      &__control {
        color: $input-error-color;
        border-color: $input-error-border-color;
      }

      &__hint {
        color: $input-error-color;
      }
    }
  }
}

textarea.form-group__control {
  height: 100px;
}

// Search
.form-search {
  position: relative;
  line-height: 1;

  &__input {
    width: 100%;
    padding: 2px 20px 2px 5px;
    font-size: .6875rem;
    color: currentColor;
    background-color: transparent;
    border: 1px solid currentColor;
    appearance: none;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: currentColor;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: currentColor;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: currentColor;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: currentColor;
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    @include square(18px);
    text-indent: -9999px;
    overflow: hidden;
    background: url(img/ico-search.svg) 50% 50% no-repeat;
    background-size: 12px;
    border: none;
    cursor: pointer;

    .header__tools__search & {
      background-image: url(img/ico-search-white.svg);
    }
  }
}
