// Grid

$grid-column-gap: 30px;
$grid-column-gap-compact: 20px;
$grid-columns: 12;

.grid {
  @include clearfix();
  margin-left: -($grid-column-gap / 2);
  margin-right: -($grid-column-gap / 2);
  font-size: 0;
  vertical-align: top;

  &--middle {
    > .col {
      vertical-align: middle;
    }
  }

  &--bottom {
    > .col {
      vertical-align: bottom;
    }
  }

  &--compact {
    margin-left: -($grid-column-gap-compact / 2);
    margin-right: -($grid-column-gap-compact / 2);

    > .col {
      padding-left: ($grid-column-gap-compact / 2);
      padding-right: ($grid-column-gap-compact / 2);
    }
  }

  &--no-gap {
    margin-left: 0;
    margin-right: 0;

    > .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.col {
  width: 100%;
  display: inline-block;
  margin-bottom: 0;
  padding-left: ($grid-column-gap / 2);
  padding-right: ($grid-column-gap / 2);
  font-size: $font-size-base;
  vertical-align: top;
}

@include build-columns($grid-columns);

@media (min-width: $screen-s-min) {
  @include build-columns($grid-columns, '-s');
}

@media (min-width: $screen-m-min) {
  @include build-columns($grid-columns, '-m');
}

@media (min-width: $screen-l-min) {
  @include build-columns($grid-columns, '-l');
}
