// Icons

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -.2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  shape-rendering: geometricPrecision;

  &--left {
    margin-right: .4em;
  }

  &--right {
    margin-left: .4em;
  }

  &--size {
    &-s {
      font-size: $font-size-base;
    }
    &-m {
      font-size: $font-size-l;
    }
    &-l {
      font-size: $font-size-xl;
    }
    &-xl {
      font-size: 3rem;
    }
  }
}