// Layout

.container {
  max-width: $container-max-width + 40px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;

  //@media (max-width: $screen-side-banners-hidden) {
  //  overflow-x: hidden;
  //}

  @media (min-width: $screen-m-min) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page-wrapper {
  position: relative;
}

.main {}

.content-container {
  @media (min-width: $screen-m-min) {
    display: flex;
    align-items: stretch;
  }
}

.content {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-darker;

  @media (min-width: $screen-m-min) {
    width: 74%;
    padding-right: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-right: 1px solid $gray-darker;
    border-bottom: 0;
  }
}

.sidebar {
  @media (max-width: $screen-s-max) {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;

    > .side-box {
      width: calc(50% - 20px);
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media (min-width: $screen-m-min) {
    width: calc(26% - 20px);
    margin-left: auto;
  }

  .side-box:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}