// Mixins

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin list-unstyled() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin build-columns($cols, $modifier: '') {
  @while $cols > 0 {
    .col--#{$cols}#{$modifier} {
      width: percentage($cols / $grid-columns);
      $cols: $cols - 1;
    }
  }
}
