// Scaffolding

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  font-size: 16px;
}

body {
  font: #{$font-size-base}/#{$line-height-base} $font-family-primary;
  color: $text-color;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  display: none;

  &.line {
    margin-top: $space-m;
    margin-bottom: $space-m;
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid $gray-darker;
  }
}
