// Typography

// Fonts
@font-face {
  font-family: 'helvetica_neue_lt_pro';
  src: url('fonts/helveticaneueltpro-roman.woff2') format('woff2'),
  url('fonts/helveticaneueltpro-roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neue_lt_pro';
  src: url('fonts/helveticaneueltpro-it.woff2') format('woff2'),
  url('fonts/helveticaneueltpro-it.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'helvetica_neue_lt_pro';
  src: url('fonts/helveticaneueltpro-md.woff2') format('woff2'),
  url('fonts/helveticaneueltpro-md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neue_lt_pro';
  src: url('fonts/helveticaneueltpro-mdit.woff2') format('woff2'),
  url('fonts/helveticaneueltpro-mdit.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'helvetica_neue_lt_pro';
  src: url('fonts/helveticaneueltpro-bd.woff2') format('woff2'),
  url('fonts/helveticaneueltpro-bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_neue_lt_pro';
  src: url('fonts/helveticaneueltpro-bdit.woff2') format('woff2'),
  url('fonts/helveticaneueltpro-bdit.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

h1,
h2,
h3,
h4 {
  line-height: $line-height-heading;
}

h1,
.h1 {
  margin-top: 1em;
  margin-bottom: .75em;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
  color: $text-color;

  @media (min-width: $screen-m-min) {
    font-size: 1.5rem;
  }
}

h2,
.h2 {
  margin-top: 1.5em;
  margin-bottom: .75em;
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  color: $gray;

  @media (min-width: $screen-m-min) {
    font-size: 1.25rem;
  }
}

h3,
.h3 {
  margin-top: 1.5em;
  margin-bottom: .67em;
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
}

h4,
.h4 {
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: .875rem;
  font-weight: $font-weight-bold;
}

p {
  margin-top: 0;
}
