// Utilities

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.clearfix {
  @include clearfix();
}

// Text align
.text {
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
  &-center {
    text-align: center !important;
  }
}

// Text
.text {
  // Size
  &-small {
    font-size: $font-size-s !important;
  }
  &-base {
    font-size: $font-size-base !important;
  }
  &-large {
    font-size: $font-size-l !important;
  }

  // Wrap
  &-nowrap {
    white-space: nowrap;
  }

  // Color
  &-black {
    color: #000;
  }
  &-gray {
    color: $gray !important;
  }
  &-orange {
    color: $theme-orange !important;
  }
  &-red {
    color: $theme-red !important;
  }
  &-red-dark {
    color: $theme-red-dark !important;
  }
  &-blue-light {
    color: $theme-blue-light !important;
  }
  &-blue-dark {
    color: $theme-blue-dark !important;
  }
  &-green-dark {
    color: $theme-green-dark !important;
  }
  &-green-dark {
    color: $theme-green-dark !important;
  }
  &-aquamarine {
    color: $theme-aquamarine !important;
  }
}

// Links
.link-underline {
  text-decoration: underline;
}

// Ellipsis
.ellipsis {
  @include ellipsis();
}

// Float
.pull {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

// Display {
.inline {
  display: inline !important;
}
.inline-block {
  display: inline-block !important;
}
.block {
  display: block !important;
}

// Screen sizes
.screen-size {
  display: none;

  &--xs {
    display: block;

    @media (min-width: $screen-s-min) {
      display: none;
    }
  }
  &--s {
    @media (min-width: $screen-s-min) and (max-width: $screen-s-max) {
      display: block;
    }
  }
  &--m {
    @media (min-width: $screen-m-min) and (max-width: $screen-m-max) {
      display: block;
    }
  }
  &--l {
    @media (min-width: $screen-l-min) and (max-width: $screen-l-max) {
      display: block;
    }
  }
  &--xl {
    @media (min-width: $screen-xl-min) {
      display: block;
    }
  }
}

// Visibility
.visible {
  display: block;

  &-xs {
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      display: block;
    }
  }
  &-s {
    @media (min-width: $screen-s-min) and (max-width: $screen-s-max) {
      display: block;
    }
  }
  &-m {
    @media (min-width: $screen-m-min) and (max-width: $screen-m-max) {
      display: block;
    }
  }
  &-l {
    @media (min-width: $screen-l-min) and (max-width: $screen-l-max) {
      display: block;
    }
  }
  &-xl {
    @media (min-width: $screen-xl-min) {
      display: block;
    }
  }
}

.hidden {
  display: none;

  &-xs {
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
      display: none;
    }
  }
  &-s {
    @media (min-width: $screen-s-min) and (max-width: $screen-s-max) {
      display: none;
    }
  }
  &-m {
    @media (min-width: $screen-m-min) and (max-width: $screen-m-max) {
      display: none;
    }
  }
  &-l {
    @media (min-width: $screen-l-min) and (max-width: $screen-l-max) {
      display: none;
    }
  }
  &-xl {
    @media (min-width: $screen-xl-min) {
      display: none;
    }
  }
}

// Spacing
.m {
  &-none {
    margin: 0 !important;
  }

  &t {
    &-none {
      margin-top: 0 !important;
    }
    &-xs {
      margin-top: $space-xs !important;
    }
    &-s {
      margin-top: $space-s !important;
    }
    &-m {
      margin-top: $space-m !important;
    }
    &-l {
      margin-top: $space-l !important;
    }
    &-xl {
      margin-top: $space-xl !important;
    }
  }

  &b {
    &-none {
      margin-bottom: 0 !important;
    }
    &-xs {
      margin-bottom: $space-xs !important;
    }
    &-s {
      margin-bottom: $space-s !important;
    }
    &-m {
      margin-bottom: $space-m !important;
    }
    &-l {
      margin-bottom: $space-l !important;
    }
    &-xl {
      margin-bottom: $space-xl !important;
    }
  }

  &x {
    &-s {
      margin-left: $space-s !important;
      margin-right: $space-s !important;
    }
    &-m {
      margin-left: $space-m !important;
      margin-right: $space-m !important;
    }
    &-l {
      margin-left: $space-l !important;
      margin-right: $space-l !important;
    }
  }

  &l {
    &-auto {
      margin-left: auto !important;
    }
  }
}

.p {
  &-xs {
    padding: $space-xs !important;
  }
  &-s {
    padding: $space-s !important;
  }
  &-m {
    padding: $space-m !important;
  }
  &-l {
    padding: $space-l !important;
  }

  &x {
    &-s {
      padding-left: $space-s !important;
      padding-right: $space-s !important;
    }
    &-m {
      padding-left: $space-m !important;
      padding-right: $space-m !important;
    }
    &-l {
      padding-left: $space-l !important;
      padding-right: $space-l !important;
    }
  }

  &y {
    &-s {
      padding-top: $space-s !important;
      padding-bottom: $space-s !important;
    }
    &-m {
      padding-top: $space-m !important;
      padding-bottom: $space-m !important;
    }
    &-l {
      padding-top: $space-l !important;
      padding-bottom: $space-l !important;
    }
  }

  &-none {
    padding: 0 !important;
  }
  &t {
    &-none {
      padding-top: 0 !important;
    }
  }
  &b {
    &-none {
      padding-bottom: 0 !important;
    }
  }
}

// Flex
.flex {
  display: flex !important;

  &-wrap {
    flex-wrap: wrap;
  }
}
.align-items {
  &-center {
    align-items: center;
  }
}

// Border
.border {
  &-none {
    border: 0 !important;
  }

  &-top {
    border-top: 1px solid $gray-darker;
  }

  &-bottom {
    border-bottom: 1px solid $gray-darker;
  }

  &-light {
    border: 1px solid $gray-lighter;

    &-top {
      border-top: 1px solid $gray-lighter;
    }

    &-bottom {
      border-bottom: 1px solid $gray-lighter;
    }
  }
}

// Width
.w-100 {
  width: 100% !important;
}

.mw {
  &-100 {
    width: auto !important;
    max-width: 100% !important;
  }
}

// Height
.h-100 {
  height: 100% !important;
}

// Background color
.bg {
  &-gray {
    &-light {
      background-color: $gray-light;
    }
  }
}