// Variables

// Screen sizes
$screen-xs-min: 0;
$screen-xs-max: 599px;
$screen-s-min: 600px;
$screen-s-max: 899px;
$screen-m-min: 900px;
$screen-m-max: 1199px;
$screen-l-min: 1200px;
$screen-l-max: 1599px;
$screen-xl-min: 1600px;

// Banners
$screen-side-banners-hidden: 1250px;

// Container
$container-max-width: 1200px;

// Theme colors
$theme-yellow: #ffd800;
$theme-orange: #ed7104;
$theme-red: #c91209;
$theme-red-dark: #b42026;
$theme-blue-light: #009fe3;
$theme-blue-dark: #1c426f; // #07469d
$theme-green-light: #96ba33;
$theme-green-dark: #196402;
$theme-aquamarine: #03a896;
$theme-gray: #585a5b;
$theme-steel-blue-dark: #5c6c7f;
$theme-steel-blue-light: #7d8ea2;

// Colors
$brand-primary: $theme-steel-blue-dark; //#69727f;
$brand-primary-light: #818a99;
$text-color: #000;
$gray: #808080;
$gray-light: #ececec;
$gray-lighter: #e2e4e6;
$gray-darker: #6a7280;

$red: #d9313e;

// Font
$font-family-primary: 'helvetica_neue_lt_pro', Helvetica, Arial, sans-serif;
$font-size-base: .9375rem;
$font-size-xs: .6875rem;
$font-size-s: .875rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
$font-weight-normal: 400;
$font-weight-demi: 500;
$font-weight-bold: 700;
$line-height-base: 1.5;
$line-height-heading: 1.2;

// Spacing
$space-xs: 5px;
$space-s: 10px;
$space-m: 20px;
$space-l: 35px;
$space-xl: 50px;

// Transitions
$transition-speed-slow: .7s;
$transition-speed-normal: .3s;
$transition-speed-fast: .15s;

// Buttons
$btn-height: 52px;

// Header
$header-nav-breakpoint: $screen-l-min;
$header-nav-vertical-breakpoint: $screen-m-min;
$header-height: 140px;
$main-nav-height: 40px;
$section-nav-height: 60px;

// Filter
$filter-toggle-width: 151px;
$filter-columns: 4;

// Side nav
$side-nav-width: 400px;
$side-nav-item-height: 100px;
$side-nav-item-height-compact: 80px;
$side-nav-item-padding: 43px;
$side-nav-item-padding-compact: 27px;
$side-nav-arrow-size: 12px;

